<div class="container">
    <h1>Crear Préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>Nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>Nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha inicial</mat-label>
            <input type="date" matInput placeholder="Fecha del comienzo del préstamo" 
            [(ngModel)]="loan.startDate" name="startDate" required>
            <mat-error>La fecha inicial no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de entrega</mat-label>
            <input type="date" matInput placeholder="Fecha de devolución del juego" 
            [(ngModel)]="loan.repaymentDate" name="repaymentDate" required>
            <mat-error>La fecha de devolución no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
