<div class="container">
    <h1>Listado de préstamos</h1>

    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Nombre del juego</mat-label>
                <mat-select disableRipple [(ngModel)]="filterGame" name="game">
                    <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre del cliente</mat-label>
                <mat-select disableRipple [(ngModel)]="filterClient" name="client">
                    <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                </mat-select>
            </mat-form-field>
             <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input type="date" matInput [(ngModel)]="filterDate" name="date">
            </mat-form-field>      
        </form>

        <div class="buttons">
            <button mat-stroked-button class="btnClear" (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button class="btnClear" (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>   

    <mat-table style="margin-top: 20px;" [dataSource]="dataSource"> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="game">
            <mat-header-cell *matHeaderCellDef> Nombre del juego  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef> Nombre del cliente  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> Fecha de préstamo  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="repaymentDate">
            <mat-header-cell *matHeaderCellDef> Fecha de devolución  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.repaymentDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent">
                    <mat-icon (click)="deleteLoan(element)">clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button class="btnClear" style="margin-top: 20px;"(click)="createLoan()">Nuevo</button>            
    </div>   
</div>
