<mat-toolbar>
    <mat-toolbar-row>
        <div class="header_container">
            <div class="header_title">              
                <mat-icon>storefront</mat-icon> Ludoteca Tan
            </div>

            <div class="header_separator"> | </div>

            <div class="header_menu">
                <div class="header_button">
                    <a routerLink="/games" routerLinkActive="active">Catálogo</a>
                </div>
                <div class="header_button">
                    <a routerLink="/categories" routerLinkActive="active">Categorías</a>
                </div>
                <div class="header_button">
                    <a routerLink="/authors" routerLinkActive="active">Autores</a>
                </div>
                <div class="header_button">
                    <a routerLink="/clients" routerLinkActive="active">Clientes</a>
                </div>
                <div class="header_button">
                    <a routerLink="/loans" routerLinkActive="active">Préstamos</a>
                </div>
            </div>

            <div class="header_login">
                <mat-icon>account_circle</mat-icon> Sign in
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
