.mat-toolbar {
  background-color: blue;
  color: white;
}

.header_container {
    display: flex;
    width: 100%;
    .header_title {
        .mat-icon {
            vertical-align: sub;
        }
    }

    .header_separator {
        margin-left: 30px;
        margin-right: 30px;
    }

    .header_menu {
        flex-grow: 4;
        display: flex;
        flex-direction: row;

        .header_button {
            margin-left: 1em;
            margin-right: 1em;
            font-size: 16px;

            a {
              font-weight: lighter;
              text-decoration: none;
              cursor: pointer;
              color: white;
            }

            a:hover {
              color: grey;
            }

            a.active {
              font-weight: normal;
              text-decoration: underline;
              color: lightyellow;
            }

        }
    }

    .header_login {
      font-size: 16px;
      cursor: pointer;
      .mat-icon {
          vertical-align: sub;
      }
  }
}
