<div class="container">
    <h1 *ngIf="game.id == null">Crear juego</h1>
    <h1 *ngIf="game.id != null">Modificar juego</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="game.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Título</mat-label>
            <input type="text" matInput placeholder="Título del juego" [(ngModel)]="game.title" name="title" required>
            <mat-error>El título no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Edad recomendada</mat-label>
            <input type="number" matInput placeholder="Edad recomendada" [(ngModel)]="game.age" name="age" required>
            <mat-error>La edad no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select disableRipple [(ngModel)]="game.category" name="category" required>
                <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
            </mat-select>
            <mat-error>La categoría no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Autor</mat-label>
            <mat-select disableRipple [(ngModel)]="game.author" name="author" required>
                <mat-option *ngFor="let author of authors" [value]="author">{{author.name}}</mat-option>
            </mat-select>
            <mat-error>El autor no puede estar vacío</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
